# Ffpreview example configuration file
#
# Copy this file to "ffppreview.conf" and make the desired changes.

[Default]

# Output directory path.
# "/ffpreview_thumbs" is appended to this path, if not already present.
# In this location a separate subdirectory is placed for each individual
# video file processed. The default is to try to locate a suitable
# temporary location, depending on the operating system.
# Example:
#   outdir=/ext/data  will produce the following directory structure:
#   /
#   +--ext
#   |  +--data
#   |  |  +--ffpreview_thumbs
#   |  |  |  +--video1.mp4
#   |  |  |  +--another video.mkv
#   |  |  |  +--...
outdir=

# Width in pixels for generated thumbnails.
thumb_width=192

# Initial thumbnail grid geometry.
grid_columns=5
grid_rows=4

# Path to ffprobe executable.
ffprobe=ffprobe

# Path to ffmpeg executable.
ffmpeg=ffmpeg

# Video player command. The %t and %f placeholders are replaced by
# the start timestamp and the video file name, respectively.
# NOTE: Arguments with embedded spaces must be quoted, embedded quotes
# must be backslash-escaped, e.g.:  "-foo=bar baz"  "-quux=abc\"def"
# Examples:
#  player=vlc --start-time=%t %f
#  player=ffplay -ss %t %f
#  player=mpv --no-ordered-chapters --start=%t %f
player=mpv --no-ordered-chapters --start=%t %f

# As above, but for player invocation in paused mode.
# HINT: For players that do not support starting in paused mode simply
# make this the same as above.
# Examples:
#  plpaused=vlc --start-time=%t --start-paused %f
#  plpaused=ffplay -ss %t %f
#  plpaused=mpv --no-ordered-chapters --start=%t --pause %f
plpaused=mpv --no-ordered-chapters --start=%t --pause %f

# Always rebuild, deleting any previously created thumbnails.
# NOTE: In GUI (not batch!) mode, this is internally reset to "False"
# after the first file has been processed.
force=False

# Reuse the settings found in an existing index file in the thumbnail
# directory, if at all possible. This option is ignored in 'force' mode.
# NOTE: Even if this option is set to "False', ffpreview tries to reuse
# existing files, provided all essential parameters still match the
# current settings.
reuse=True

# Start and end timestamp of time interval to produce thumbnails for.
# Leave empty to always process entire files.
# Format: [[hours:]minutes:]seconds[.fractions]
# Example:
#  start=3:42.07
#  denotes a start position 3 minutes, 42 seconds and 70 milliseconds in.
start=
end=

# Thumbnail sampling method.
# Supported methods:
#  iframe   - automatic I-Frame detection (the default)
#  scene    - scene change detection, see 'scene_thresh'
#  skip     - skip number of frames between thumbnails, see 'frame_skip'
#  time     - sample a thumbnail every number of seconds, see 'time_skip'
#  customvf - custom ffmpeg filter string, see 'customvf'
method=iframe

# Scene change detection threshold for method 'scene'.
scene_thresh=0.2

# Number of frames to skip for method 'skip'.
frame_skip=200

# Sample interval in seconds for method 'time'.
time_skip=60

# Custom ffmpeg filter string for method 'customvf'. The configured
# expression is passed verbatim as argument to ffmpeg's "-vf" option.
# This is an advanced setting. Please consult the ffmpeg documentation
# to learn more about video filter expressions.
customvf=scdet=s=1:t=12

# Add rendered captions from specified subtitle stream. Stream numbering
# starts at 0, set to -1 to disable. If the specified stream is not found,
# this setting is silently ignored. Also, this setting only works when
# start time is zero, i.e. the video is processed from the beginning.
addss=-1

# EOF
